.txt {
    padding: 2rem;
    font-size: large;
}
.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: max-content;
    border-radius: 20px;
    background: #d8d8d8;
    box-shadow: 5px 5px 10px #ca1619, -2.5px -2.5px 5px #000000;
}