<ion-toolbar>
  <span class="material-symbols-outlined back_icon" (click)="back()">
    arrow_back
  </span>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="container_center mt_container_logo">
        <div class="container_logo_sec">
          <ion-img [src]="logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="container_center mt_container_logo">
        <div class="container_main_txt ft_sz_18">
          Ingresa el nombre de los jugadores:
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="container_center">
        <div class="btn_add" (click)="addPlayer()">
          <span class="material-symbols-outlined">
            add
          </span>
          <span class="txt_add">
            agregar jugador
          </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="container_center">
        <div class="container_input">
          <ion-input placeholder="Nombre del jugador" [(ngModel)]="newPlayer"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="container_btn_save container_center">
          <ion-button (click)="save()" expand="block" fill="clear" shape="round" [disabled]="is_jugadores">
            <div class="txt_btn">
              jugar
            </div>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="col_list">
        <ion-grid>
          <ion-row *ngFor="let jugador of jugadores">
            <ion-col size="12" class="list_players">
              <div class="txt_list">
                {{ jugador.nombre }}
              </div>
              <div class="container_remove container_center" (click)="eliminarJugador(jugador.id)">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
