.col_btn{
    display: flex;
    justify-content: space-around;
}

ion-button{
    --background: #ca1619;
}

.cont_player {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.back_icon {
    margin: 2rem;
}