<ion-content [fullscreen]="true">
  
  <ion-grid fixed>
    <ion-row class="mt_logo_main">
      <ion-col size="12" class="container_center">
        <div class="container_logo_main">
          <ion-img [src]="main_logo"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mt_btn_main">
      <ion-col size="12" class="container_center">
        <div class="container_btn_main">
          <ion-button (click)="play()" expand="block" fill="clear" shape="round">
            <div class="btn_txt_main">
              Jugar
            </div>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <app-socials></app-socials>
  </ion-toolbar>
</ion-footer>
