ion-button {
  --background: #ca1619;
  color: #000000;
}
.btn_txt_main {
  font-weight: 700;
  font-size: 30px;
  margin: 5px;
}
.mt_logo_main {
  margin-top: 15em;
}
.mt_btn_main {
  margin-top: 2.5em;
}